*{
  margin: 0;
  padding: 0;
  
}



.headerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; 
  
  
}

.headerTodo {
  display: flex;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  
  


 
}

.todo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  
}

.inputBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




/* Todo başlık */
.title {
  text-align: center;
  margin: 10px 0;
}

.checked{
  display: flex;
 
}

.mainTodo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
}


/* Todo öğeleri */
.todo-content {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: space-between; /* İçerik ve düğmeleri yatayda aralayın */
  align-items: center; /* İçerik ve düğmeleri dikeyde hizalayın */
  margin-bottom: 10px; /* Öğeler arası boşluk */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  width: 500px;
  height: 100px;
  
}

/* Todo öğe içeriği */
.todo-text {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  width: 500px;

  

}

/* Düzenle düğmesi */
.editBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 2px;
}

/* Sil düğmesi */
.deleteBtn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}


.headerTodo input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 400px;
  background: transparent;
  margin: 10px;
  height: 20px;

  
}

.headerTodo input:focus{
 outline: none;
}



.headerTodo button {
  border: 2px solid #007bff;
  color: #007bff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  align-items: center;
}

.title{
  text-align: center;
  margin: 5px;
}

.selectBox{
  width: 150px;
  color: #007bff;
  margin: 10px;

}



.category{
  color: black;
  display: flex;
  justify-content: flex-end;
}

span{
  
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
}